@import '~terra-mixins';

.terraClinical-MenuToolbar {
  background-color: #999999;
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  min-height: 30px;
  position: relative;
  width: 100%;
}

.terraClinical-MenuToolbar-body {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  max-height: 100%;
  min-width: 0;
  position: relative;
  width: 100%;
}
