@import '~terra-mixins';

.terraClinical-MenuToolbar {
  color: #1C1F21;
  font-size: 14px;
  background: #FFF;
  box-shadow: inset 0 -4px 7px 0 rgba(0,0,0,0.06);
  border-bottom: 1px solid #EDEEEE;
  border-top: 1px solid #BCBFC0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  min-height: 48px;
  position: relative;
  width: 100%;
  padding: 10px;
}

.terraClinical-MenuToolbar-start {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  max-height: 100%;
  min-width: 0;
  position: relative;
}

.terraClinical-MenuToolbar-end {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  max-height: 100%;
  min-width: 0;
  position: relative;
}

.terraClinical-MenuToolbar-body {
  padding: 5px;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  max-height: 100%;
  min-width: 0;
  position: relative;
}

.terraClinical-Unlock {
  transform: rotate(90deg);
  transform-origin: left top 50%;
}
