@import '~terra-mixins';

.terraClinical-MenuToolbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  min-height: 30px;
  position: relative;
  width: 100%;
  border-top: 1px solid lightgrey;  
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.terraClinical-MenuToolbar-start {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  max-height: 100%;
  min-width: 0;
  position: relative;
}

.terraClinical-MenuToolbar-end {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  max-height: 100%;
  min-width: 0;
  position: relative;
}

.terraClinical-MenuToolbar-body {
  padding: 5px;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  max-height: 100%;
  min-width: 0;
  position: relative;
}
