/* stylelint-disable selector-class-pattern */
:local {
  .toolbar-accessory {
    background-color: #C4CACC;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: relative;
    & > * {
      left: 1px;
      top: 40%;
      transform: translate3d(0, -50%, 0);
      position: relative;
    }
  }

  .is-compact {
    background-color: #2CACE2;
    height: 30px;
    width: 30px;
    & > * {
      left: 0;
    }
  }
}
