/* stylelint-disable selector-class-pattern */
:local {
  .toolbar-accessory {
    background-color: rgba(255,255,255, 0.4);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: relative;
    & > * {
      top: 3px;
      position: relative;
    }
  }

  .is-compact {
    background-color: rgba(255,255,255, 0.4);
  }
}
