/* stylelint-disable selector-class-pattern */
:local {
  .toolbar-accessory {
    background-color: #C4CACC;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: relative;
    & > * {
      top: 3px;
      position: relative;
    }
  }

  .is-compact {
    background-color: #2CACE2;
  }
}
