@import '~terra-mixins';

.terraClinical-NavigationPrimary {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.terraClinical-PrimaryPanel--disabled > * {
  transition: none !important;
}
