@import '~terra-mixins';

.terraClinical-PrimaryList {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.terraClinical-PrimaryList--vertical {
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}
