.vertical-toolbar {
  height: 100%;
  width: 60px;
  background-color: #1B7FCD;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
    
  // border-right: 1px solid grey;
}
