/* stylelint-disable selector-class-pattern */
:local {
  .hover-menu {
    overflow: hidden;
    width: 100%;
  }

  .content-section {
    float: left;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
    width: calc(100% - var(--layout-menu-hover-target-width, 30px));
  }

  .hover-section {
    align-items: stretch;
    background: var(--layout-menu-hover-target-background-color, #e8e9ea);
    border: 0;
    border-right: var(--layout-menu-hover-target-border-right, 1px solid #bcbfc0);
    display: flex;
    flex-direction: column;
    float: right;
    overflow: hidden;
    width: var(--layout-menu-hover-target-width, 30px);

    &:active {
      background: var(--layout-menu-hover-target-background-color, #C6C7C9);
    }
  }

  .hover-section-icon {
    flex: 0 0 auto;
    padding-top: 20px;
    width: 100%;
  }

  .hover-section-text {
    flex: 1 1 auto;
    width: 100%;
  }

  .hover-text {
    color: var(--layout-menu-hover-target-text-color, #4e5558);
    float: left;
    font-size: var(--layout-menu-hover-target-font-size, 0.857rem);
    left: 50%;
    margin: 0;
    position: relative;
    transform: rotate(-90deg) translate3d(-100%, -50%, 0);
    transform-origin: left top 0;

    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .hover-icon {
    color: var(--layout-menu-hover-target-icon-color, #909496);
    font-size: 0.571rem;
    left: 50%;
    position: relative;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
  }

  .hover-menu,
  .content-section,
  .hover-section {
    height: 100%;
    position: relative;
  }

  .is-hover-disabled,
  .is-menu-disabled {
    > .content-section {
      width: 100%;
    }

    > .hover-section {
      display: none;
    }
  }
}
