@import '~terra-mixins';

.terraClinical-NavigationHeader {
  background-color: #d1d5d8;
  max-height: 100%;
  min-height: 40px;
  position: relative;
  width: 100%;
}

.terraClinical-NavigationHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.terraClinical-NavigationHeader-logo {
  align-items: center;
  flex: 0 0 auto;
  order: 0;
  position: relative;
}

.terraClinical-NavigationHeader-items {
  align-items: center;
  flex: 1 1 auto;
  min-width: 20%;
  order: 1;
  position: relative;
}

.terraClinical-NavigationHeader-tools {
  align-items: center;
  flex: 1 1 auto;
  min-width: 20%;
  order: 2;
  position: relative;
}

.terraClinical-NavigationHeader-junk {
  align-items: center;
  flex: 1 1 auto;
  min-width: 20%;
  order: 3;
  position: relative;
}

.terraClinical-NavigationHeader-utility {
  align-items: center;
  flex: 0 0 auto;
  order: 4;
  position: relative;
}
