@import '~terra-mixins';

.terraClinical-PatientContextToolbar {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: lightgreen;
}

.terraClinical-PatientContextToolbar-schedule {
  display: inline-block;
  float: right;
}

.terraClinical-PatientContextToolbar-search {
  display: inline-block;
  float: right;
}
