.pcm-link {
  color: #1c1f21;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  text-align: left;
  &:hover {
    color: #1c1f21;
    background: linear-gradient(-90deg, #FFFFFF, #F1F1F2);
    text-decoration: none;
  }
}