.pc-container {
  display: flex;
  height: calc(100% - 2px);
  justify-content: space-between;
  height: 100%;
}

.pc-start {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.pc-end {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
}

.pc-button {
  border-bottom: none !important;
  border-color: rgba(2, 2, 138, 0.4) !important;
  border-left: none !important;
  border-radius: 0;
  border-top: none !important;
  color: #404c57;
  flex: 0 0 auto;
  font-weight: bold;
  height: 100%;

  &:focus,
  &:active,
  &.is-active {
    background-color: transparent;
  }

  &:hover,
  &.is-hovered {
    background-color: #1b63a9;
    border-color: rgba(2, 2, 138, 0.4) !important;
    color: #fff;
  }
}

.pc-selected {
  background-color: #f4f4f4 !important;
  height: calc(100% + 2px) !important;
  
  &:hover,
  &.is-hovered {
    background-color: #f4f4f4 !important;
    color: #404c57 !important;
  }
}

  .pc-panel-overlay {
    align-content: stretch;
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .pc-panel {
    background-color: #fff;
    bottom: 0;
    flex: 0 0 auto;
    height: 100%;
    position: relative;
    width: 60%;
  }

  .pc-panel-target {
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 0;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .pc-panel-compact {
    width: calc(100% - 50px);
  }
