.pc-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: -1px;
  padding-top: 3px;
}

.pc-start {
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.pc-end {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
}

.pc-button {
  border: 1px solid transparent;
  border-bottom: none !important;
  border-radius: 0;
  color: #404c57;
  font-size: 12px;
  flex: 0 0 auto;
  height: 31px;
  margin:0 2px 0 0;
  max-width:240px;
  min-width:135px;
  text-align: left !important;
  
  &:focus,
  &:hover,
  &.is-hovered {
    background-color:#E8E9EA;
    border-color: #D3D4D5;
    box-shadow:inset -1px 0 0 0 #E6E6E6;
  }
}

.pc-button.pc-selected,
.pc-button:active {
  background-color:#f4f4f4; 
  color: #404c57;  
  border-color: #BCBFC0;
  box-shadow: 7px -2px 10px -5px rgba(28,31,33,0.17), -7px -2px 10px -5px rgba(28,31,33,0.17);
}

.pc-panel-overlay {
  align-content: stretch;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.pc-panel {
  background-color: #fff;
  bottom: 0;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  width: 60%;
}

.pc-panel-target {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 0;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  width: 100%;
}

.pc-panel-compact {
  width: calc(100% - 50px);
}
