@import '~terra-mixins';

.terraClinical-ApplicationToolbar {
  background-color: #1B7FCD;
  display: flex;
  justify-content: space-between;
  height: 36px;
  position: relative;
  width: 100%;
}

.terraClinical-ApplicationToolbar--compact {
  height: 40px;
}

.terraClinical-ApplicationToolbar-button {
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.17);
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  position: relative;
  width: 43px;

  & > * {
    width: 100%;
  }
}

.terraClinical-ApplicationToolbar-body {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  max-height: 100%;
  min-width: 0;
  position: relative;
  width: 100%;
}

.terraClinical-ApplicationToolbar-start {
  align-items: center;
  display: flex;
  flex: 0 0 260px;
  justify-content: flex-start;
  max-width: 50%;
  position: relative;
}

.terraClinical-ApplicationToolbar-end {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  max-width: 50%;
  position: relative;
  padding-right: 10px;
}

.terraClinical-ApplicationToolbar-content {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  position: relative;
}
