@import '~terra-mixins';

.terraClinical-NavigationLogo {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.terraClinical-NavigationLogo-accessory {
  @include terra-padding-start(5px);
}

.terraClinical-NavigationLogo-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
  @include terra-padding-start(5px);
}
