@import '~terra-mixins';

.terraClinical-NavTabs {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.terraClinical-NavTabs-content {
  flex: 0 0 auto;
}

.terraClinical-NavTabs-container {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

.terraClinical-NavLinks {
  border-right: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.17);
  color: rgba(255,255,255,0.65);
  display: block;
  flex: 0 0 auto;
  font-size: 13px;
  height: 100%;
  line-height: 2.7;
  min-width: 80px;
  max-width: 240px;
  padding: 0 21px;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.17);
  }

  &:hover {
    background-color: #e6e6e6;
    border-left: none;
    box-shadow: inset -1px 0 0 0 #e6e6e6;
  }

  &[aria-current='true'] {
    background-color: #E8E9EA;
    border-left: none;
    box-shadow: inset 0 -7px 7px 0 #E8E9EA, inset 0 8px 16px 0 rgba(255,255,255,0.44);
    color: #1c1f21;
    font-size: 14px;
  }
}
