@import '~terra-mixins';

.terraClinical-NavigationUtility {
  align-items: center;
  display: flex;
  flex: 0 0 auto;

  & > *:not(:last-child) {
    @include terra-padding-end(5px);    
  }
}

.terraClinical-NavigationUtility--compact {
  color: white,
}

.terraClinical-NavigationUtility-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
}
