/* stylelint-disable selector-class-pattern */
:local {
  .mc-container {
    overflow: hidden;
    width: 100%;
  }

  .inner-section {
    float: left;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
    width: calc(100% - var(--mc-panel-hover-width, 30px));
  }

  .hover-section {
    background: linear-gradient(to right, rgba(171, 171, 171, 1) 0%, rgba(231, 235, 228, 1) 100%);
    float: right;
    overflow: hidden;
    padding-top: 20px;
    width: var(--mc-panel-hover-width, 30px);
  }

  .hover-text {
    float: left;
    left: 50%;
    margin: 0;
    position: relative;
    transform: rotate(-90deg) translate3d(-100%, -50%, 0);
    transform-origin: left top 0;
  }

  .hover-icon {
    left: 50%;
    position: relative;
    transform: translate3d(-50%, -50%, 0);
  }

  .mc-container,
  .inner-section,
  .hover-section,
  .hover-button {
    height: 100%;
    position: relative;
  }

  .is-hover-disabled,
  .is-menu-disabled {
    > .inner-section {
      width: 100%;
    }
    
    > .hover-section {
      display: none;
    }
  }
}
