@import '~terra-mixins';

.terraClinical-NavigationUtility {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.terraClinical-NavigationUtility-accesory {
  @include terra-padding-end(5px);
}

.terraClinical-NavigationUtility-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
  @include terra-padding-end(5px);
}
