// Styles specific to development only
// stylelint-disable

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  width: 100vw;
}

#terra-ApplicationMount {
  height: 100%;
}

#terra-ApplicationMount > div[data-reactroot] {
  height: 100%;
}

[class*="ItemView__accessory"],
[class*="ItemView__accessory"] > * {
  max-width: 70%;
}

.menu-fade-leave {
  z-index: 0;
}

.content-fade-enter {
  opacity: 0.5;
  z-index: 1;
}

.content-fade-enter.content-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.content-fade-leave {
  z-index: 0;
}

.container {
  height: 100%;
}
