// Styles specific to development only
// stylelint-disable

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  width: 100vw;
}

#terra-ApplicationMount {
  height: 100%;
}

#terra-ApplicationMount > div[data-reactroot] {
  height: 100%;
}

.terraClinical-ItemView-accessory {
  max-width: 70%;
}

.fade-enter {
  opacity: 0.7;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-leave {
  opacity: 0.5;
  z-index: 0;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
